extends layout

block content
    .w3-card-4
    header.w3-container.w3-black
      h2 Novo ficheiro
    form.w3-container(action="/api/ficheiros" method="post" enctype="multipart/form-data")
      .w3-container.w3-black(id='lista')
        .w3-container.w3-gray(id='ficheiro')
          .w3-cell-row
            label.w3-cell Descrição:
            input.w3-input.w3-cell(type="text" name="desc")
          .w3-cell-row
            label.w3-cell Ficheiro:
            input.w3-input.w3-cell(type="file" name="ficheiro")
        button.w3-button.w3-black.w3-right(id='newFile') +
      input.w3-input.w3-black(type="submit" value="Enviar")

    header.w3-container.w3-black
      h1 Lista de ficheiros armazenados
    .w3-container
      if (lista.length > 0)
        table.w3-table-all
          tr
            th Data
            th Descrição
            th Tipo
            th Path
            th Tamanho
          each f in lista
            tr
              td= f.data
              td= f.desc
              td= f.mimetype
              td= f.name
              td= f.size
      else
        p Não tem nenhum ficheiro armazenado


